<form [formGroup]="form">
  <p>帳號 :</p>
  <input formControlName="account">
  @if(form.get("account")?.touched && form.get("account")?.hasError("required")){
  <p style="color: red;">必填</p>
  }
  @if(form.get("account")?.hasError("maxlength")){
  <p style="color: red;">長度>5</p>
  }
  <p>密碼 :</p>
  <input formControlName="password">

  <div formGroupName="info">
    <p>個人資訊 :</p>
    <p>年齡</p>
    <input formControlName="age">
    <p>身高</p>
    <input formControlName="tall">
  </div>

  <br>

  <span>地址</span><button (click)="addAddress()">新增地址</button>
  <div formArrayName="address">
    @for (item of getAddress(); track $index) {
    <div>
      <input [formControlName]="$index">
    </div>
    }
  </div>

  <button (click)="submit()">送出</button>
  <button (click)="reset()">重置</button>
</form>

<p>invalid:{{form.invalid}}</p>
<p>errors:{{form.get("account")?.errors |json}}</p>
<p>dirty:{{form.get("account")?.dirty}}</p>
<p>touched:{{form.get("account")?.touched}}</p>